*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @media (max-width: 1024px) {
    font-size: 56.25%;
  }
  @media (max-width: 768px) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $background-primary;
}
