.btn {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: $color-primary;
  padding: 5px 11px;
  text-decoration: none;
  border: none;
  margin: 0 0.5rem;
}

.btn:hover {
  background: $color-primary-light;
  text-decoration: none;
}
